# Limpieza y Alistamiento de datos

### Paso 1: Cargar los datos desde un archivo .xls

In [1]:
import pandas as pd

# Cargar los datos desde el archivo .xls
data = pd.read_excel('default of credit card clients.xls')

### Paso 2: Explorar los datos disponibles

In [2]:
# Información general sobre el dataframe
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30001 entries, 0 to 30000
Data columns (total 25 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  30001 non-null  object
 1   X1          30001 non-null  object
 2   X2          30001 non-null  object
 3   X3          30001 non-null  object
 4   X4          30001 non-null  object
 5   X5          30001 non-null  object
 6   X6          30001 non-null  object
 7   X7          30001 non-null  object
 8   X8          30001 non-null  object
 9   X9          30001 non-null  object
 10  X10         30001 non-null  object
 11  X11         30001 non-null  object
 12  X12         30001 non-null  object
 13  X13         30001 non-null  object
 14  X14         30001 non-null  object
 15  X15         30001 non-null  object
 16  X16         30001 non-null  object
 17  X17         30001 non-null  object
 18  X18         30001 non-null  object
 19  X19         30001 non-null  object
 20  X20         30001 non-null  object
 21  X21         30001 non-null  object
 22  X22         30001 non-null  object
 23  X23         30001 non-null  object
 24  Y           30001 non-null  object
dtypes: object(25)
memory usage: 5.7+ MB
None

In [3]:
# Estadísticas descriptivas para variables numéricas
print(data.describe())

       Unnamed: 0     X1     X2     X3     X4     X5     X6     X7     X8  \
count       30001  30001  30001  30001  30001  30001  30001  30001  30001
unique      30001     82      3      8      5     57     12     12     12
top            ID  50000      2      2      2     29      0      0      0
freq            1   3365  18112  14030  15964   1605  14737  15730  15764

           X9  ...    X15    X16    X17    X18    X19    X20    X21    X22  \
count   30001  ...  30001  30001  30001  30001  30001  30001  30001  30001
unique     12  ...  21549  21011  20605   7944   7900   7519   6938   6898
top         0  ...      0      0      0      0      0      0      0      0
freq    16455  ...   3195   3506   4020   5249   5396   5968   6408   6703

          X23      Y
count   30001  30001
unique   6940      3
top         0      0
freq     7173  23364

[4 rows x 25 columns]

In [4]:
# Mostrar las primeras filas del dataframe para explorar los datos
print(data.head())

  Unnamed: 0         X1   X2         X3        X4   X5     X6     X7     X8  \
0         ID  LIMIT_BAL  SEX  EDUCATION  MARRIAGE  AGE  PAY_0  PAY_2  PAY_3
1          1      20000    2          2         1   24      2      2     -1
2          2     120000    2          2         2   26     -1      2      0
3          3      90000    2          2         2   34      0      0      0
4          4      50000    2          2         1   37      0      0      0

      X9  ...        X15        X16        X17       X18       X19       X20  \
0  PAY_4  ...  BILL_AMT4  BILL_AMT5  BILL_AMT6  PAY_AMT1  PAY_AMT2  PAY_AMT3
1     -1  ...          0          0          0         0       689         0
2      0  ...       3272       3455       3261         0      1000      1000
3      0  ...      14331      14948      15549      1518      1500      1000
4      0  ...      28314      28959      29547      2000      2019      1200

        X21       X22       X23                           Y
0  PAY_AMT4  PAY_AMT5  PAY_AMT6  default payment next month
1         0         0         0                           1
2      1000         0      2000                           1
3      1000      1000      5000                           0
4      1100      1069      1000                           0

[5 rows x 25 columns]

### Paso 3: Verificar valores únicos y rangos de variables

In [5]:
# Verificar valores únicos en cada columna
for column in data.columns:
    print(f"Valores únicos en {column}: {data[column].unique()}")

# Verificar rangos de variables numéricas
print(data.describe())

Valores únicos en Unnamed: 0: ['ID' 1 2 ... 29998 29999 30000]
Valores únicos en X1: ['LIMIT_BAL' 20000 120000 90000 50000 500000 100000 140000 200000 260000
 630000 70000 250000 320000 360000 180000 130000 450000 60000 230000
 160000 280000 10000 40000 210000 150000 380000 310000 400000 80000 290000
 340000 300000 30000 240000 470000 480000 350000 330000 110000 420000
 170000 370000 270000 220000 190000 510000 460000 440000 410000 490000
 390000 580000 600000 620000 610000 700000 670000 680000 430000 550000
 540000 1000000 530000 710000 560000 520000 750000 640000 16000 570000
 590000 660000 720000 327680 740000 800000 760000 690000 650000 780000
 730000]
Valores únicos en X2: ['SEX' 2 1]
Valores únicos en X3: ['EDUCATION' 2 1 3 5 4 6 0]
Valores únicos en X4: ['MARRIAGE' 1 2 3 0]
Valores únicos en X5: ['AGE' 24 26 34 37 57 29 23 28 35 51 41 30 49 39 40 27 47 33 32 54 58 22
 25 31 46 42 43 45 56 44 53 38 63 36 52 48 55 60 50 75 61 73 59 21 67 66
 62 70 72 64 65 71 69 68 79 74]
Valores únicos en X6: ['PAY_0' 2 -1 0 -2 1 3 4 8 7 5 6]
Valores únicos en X7: ['PAY_2' 2 0 -1 -2 3 5 7 4 1 6 8]
Valores únicos en X8: ['PAY_3' -1 0 2 -2 3 4 6 7 1 5 8]
Valores únicos en X9: ['PAY_4' -1 0 -2 2 3 4 5 7 6 1 8]
Valores únicos en X10: ['PAY_5' -2 0 -1 2 3 5 4 7 8 6]
Valores únicos en X11: ['PAY_6' -2 2 0 -1 3 6 4 7 8 5]
Valores únicos en X12: ['BILL_AMT1' 3913 2682 ... 1683 -1645 47929]
Valores únicos en X13: ['BILL_AMT2' 3102 1725 ... 3356 78379 48905]
Valores únicos en X14: ['BILL_AMT3' 689 2682 ... 2758 76304 49764]
Valores únicos en X15: ['BILL_AMT4' 0 3272 ... 20878 52774 36535]
Valores únicos en X16: ['BILL_AMT5' 0 3455 ... 31237 5190 32428]
Valores únicos en X17: ['BILL_AMT6' 0 3261 ... 19357 48944 15313]
Valores únicos en X18: ['PAY_AMT1' 0 1518 ... 10029 9054 85900]
Valores únicos en X19: ['PAY_AMT2' 689 1000 ... 2977 111784 3526]
Valores únicos en X20: ['PAY_AMT3' 0 1000 ... 349395 8907 25128]
Valores únicos en X21: ['PAY_AMT4' 0 1000 ... 2556 10115 8049]
Valores únicos en X22: ['PAY_AMT5' 0 1000 ... 8040 3319 52964]
Valores únicos en X23: ['PAY_AMT6' 0 2000 ... 70052 220076 16080]
Valores únicos en Y: ['default payment next month' 1 0]
       Unnamed: 0     X1     X2     X3     X4     X5     X6     X7     X8  \
count       30001  30001  30001  30001  30001  30001  30001  30001  30001
unique      30001     82      3      8      5     57     12     12     12
top            ID  50000      2      2      2     29      0      0      0
freq            1   3365  18112  14030  15964   1605  14737  15730  15764

           X9  ...    X15    X16    X17    X18    X19    X20    X21    X22  \
count   30001  ...  30001  30001  30001  30001  30001  30001  30001  30001
unique     12  ...  21549  21011  20605   7944   7900   7519   6938   6898
top         0  ...      0      0      0      0      0      0      0      0
freq    16455  ...   3195   3506   4020   5249   5396   5968   6408   6703

          X23      Y
count   30001  30001
unique   6940      3
top         0      0
freq     7173  23364

[4 rows x 25 columns]

En este punto se identificó que no hay valores faltantes en la base de datos, ni tampoco valores atípicos, por lo que, por ahora lo único que haremos será eliminar la primera fila que contiene nombres de columna no disientes.

In [6]:
# Eliminar la primera fila que contiene nombres de columna no deseados
data = data.iloc[1:]

# Asignar nombres de columna descriptivos
column_names = ['ID', 'LIMIT_BAL', 'SEX', 'EDUCATION', 'MARRIAGE', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default_payment_next_month']
data.columns = column_names

# Convertir columnas numéricas al tipo de datos correspondiente
numeric_columns = ['LIMIT_BAL', 'AGE', 'PAY_0', 'PAY_2', 'PAY_3', 'PAY_4', 'PAY_5', 'PAY_6', 'BILL_AMT1', 'BILL_AMT2', 'BILL_AMT3', 'BILL_AMT4', 'BILL_AMT5', 'BILL_AMT6', 'PAY_AMT1', 'PAY_AMT2', 'PAY_AMT3', 'PAY_AMT4', 'PAY_AMT5', 'PAY_AMT6', 'default_payment_next_month']
data[numeric_columns] = data[numeric_columns].apply(pd.to_numeric)

Finalmente se guardan los datos limpios en un archivo .csv

In [7]:
# Guardar los datos limpios en un archivo CSV
data.to_csv('datos_limpios.csv', index=False)

print("Los datos limpios se han guardado correctamente en un archivo CSV.")

Los datos limpios se han guardado correctamente en un archivo CSV.